body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
  }


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 100px;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  header .logo img {
    width: 80px; /* ajusta este valor para que se adapte a tu imagen */
    margin-right: 10px;
  }

  header .logo{
    display: flex;
  align-items: center;
  }
  
  header a {
    color: rgba(128, 128, 128, 0.9);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 20px;
    transition: all 0.2s ease-in-out;
  }
  
  header a:hover {
    color: #333;
    padding: 10px;
    transform: scale(1.2);
    border-radius: 10px;
    /* Resto del código */
  }

  header a:hover.inicio {
    background-color: #bfa5ca;
  }
  
  header a:hover.psi {
    background-color: #FFF9BF;
  }
  
  header a:hover.cit {
    background-color: #FBC9B0;
  }
  header a:hover.button-link {
    color: #fff;
  }
  
  header .button-link {
    color: #fff;
    background-color: #4f818e;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-left: 20px;
  }
  
  header .button-link:hover {
    background-color: #1e5d70;
  }
.logo h1 {
    margin: 0;
    color: #1e5d70;
}

.slogan h2 {
    margin: 0;
}

.btn-login {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #3e8e41;
}


/* FOOTER */

footer {
    background-color: #4f818e;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -100px; /* 100px es la altura del footer */
    height: 100px;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }
  
  .center-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  .first{
    margin-left: 20px;
  }
  .right-col {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    margin-right: 30px;
  }
  
  .col:last-child {
    margin-right: 0;
  }
  
  .col h3 {
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-right: 50px;
  }
  
  .col ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .col ul li {
    margin-bottom: 5px;
  }




  /* INFORMACION DEL  DASHBOARD*/

  .content {
    min-height: calc(100vh - 100px); /* 100px es la altura del footer */
  }

  .frase-del-dia {
    background-color: white; /* Color de fondo */
    border-radius: 5px; /* Borde redondeado */
    box-shadow: 2px 2px 5px #ccc; /* Sombra */
    margin: 20px auto; /* Margen y centrado horizontal */
    max-width: 600px; /* Ancho máximo */
    height: 50px;
    padding: 20px; /* Espacio interno */
    text-align: center; /* Centrado del texto */
    color: #1e5d70;
  }
  
  .frase {
    font-size: 24px; /* Tamaño de letra */
    font-style: italic; /* Estilo de letra */
    margin: 0; /* Sin margen interno */
  }


  
  .cita2{
    overflow-y: auto;
    background-color: white; /* Color de fondo */
    border-radius: 5px; /* Borde redondeado */
    box-shadow: 2px 2px 5px #ccc; /* Sombra */
    margin: 20px auto; /* Margen y centrado horizontal */
    max-width: 1100px; /* Ancho máximo */
    height: 670px;
    padding: 20px; /* Espacio interno */
    text-align: center; /* Centrado del texto */
    margin-bottom: 200px;
  }

  .cita2::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
  }
  
  .cita2::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color del fondo de la barra de desplazamiento */
  }
  
  .cita2::-webkit-scrollbar-thumb {
    background-color: #C7C7C7; /* Color del botón de la barra de desplazamiento */
    border-radius: 5px; /* Borde redondeado del botón */
  }
  
  .cita2::-webkit-scrollbar-thumb:hover {
    background-color: #A1A1A1; /* Color del botón de la barra de desplazamiento al pasar el cursor */
  }


  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 900px;
    padding: 20px;
    background-color: #4f818e;
    border-radius: 10px;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  }
  
  label {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  
  input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background-color: white;
  }
  
  input:focus, textarea:focus {
    outline: none;
    background-color: #fff;
  }
  
  button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #3e8e41;
  }

  #div1, #div2 {
    display: none;
  }

  #div1 {
    margin-left: 100px;
    margin-top: 30px;
    display: flex; /* Establece un contenedor flexible */
    align-items: center; /* Centra verticalmente los elementos secundarios */
    justify-content: center; /* Centra horizontalmente los elementos secundarios */
    flex-wrap: wrap; /* Envuelve los elementos secundarios a la siguiente fila */
    width: 80%; /* Cambia el valor para ajustar el ancho */
    height: 670px; /* Cambia el valor para ajustar la altura */
    margin-bottom: 50px;
  }
  #div2 {
    margin-left: 100px;
    margin-top: 30px;
    display: flex; /* Establece un contenedor flexible */
    align-items: center; /* Centra verticalmente los elementos secundarios */
    justify-content: center; /* Centra horizontalmente los elementos secundarios */
    flex-wrap: wrap; /* Envuelve los elementos secundarios a la siguiente fila */
    width: 80%; /* Cambia el valor para ajustar el ancho */
    height: 670px; /* Cambia el valor para ajustar la altura */
    margin-bottom: 50px;
  }
  .historial {
   background-color: #FFF9BF;
   min-height: 130px;
    flex-basis: calc(25% - 20px); /* Cambia el valor para ajustar el ancho del div */
    height: 100px; /* Cambia el valor para ajustar la altura del div */
    margin: 10px; /* Agrega un margen alrededor del div */
    padding: 20px; /* Cambia el valor para ajustar el relleno interno del div */
     /* Cambia el color de fondo para visualizar el div */
     border-radius: 30px;
     display: flex;
  position: relative;
  overflow: auto;
  
  }
  .historial::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
  }
  
  .historial::-webkit-scrollbar-track {
    background-color:#F5F5F5; /* Color del fondo de la barra de desplazamiento */
  }
  
  .historial::-webkit-scrollbar-thumb {
    background-color: #C7C7C7; /* Color del botón de la barra de desplazamiento */
    border-radius: 5px; /* Borde redondeado del botón */
  }
  
  .historial::-webkit-scrollbar-thumb:hover {
    background-color: #A1A1A1; /* Color del botón de la barra de desplazamiento al pasar el cursor */
  }

  
  .imagen-cita{
    width: 120px;
    height: 120px;
    flex-shrink: 0; /* Evita que la imagen se reduzca para ajustarse al contenedor */
    object-fit: cover;
  }
 
  .contenedor-texto {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea los elementos al inicio del contenedor */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    text-align: left;
  }
  
  .contenedor-texto p {
    margin-top: 5px; /* Ajusta el margen superior de los párrafos */
    margin-bottom: 15px; /* Ajusta el margen inferior de los párrafos */
    word-wrap: break-word;
  
  }

  .hist{
    background-color: #4f818e;
  }

  .hist:hover {
    background-color: #1E5D70;
  }
  
  .boton-aprobar,
  .boton-rechazar {
    width: 110px;
    height: 40px;
    margin-left: 10px; /* Ajusta el margen izquierdo entre los botones */
  }
  
  .boton-aprobar {
    background-color:#57CA5B;
    color: white;
  }
  
  .boton-rechazar {
    background-color: #ED6767;
    color: white;
  }

  .boton-rechazar:hover {
    background-color: #F34141;
    color: white;
  }
  
  .botones {
    position: absolute;
    top: 10px;
    right: 30px;
    display: flex;
  }

  .botones > form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    max-width: 900px;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
  }