body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
  }


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 100px;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  header .logo img {
    width: 80px; /* ajusta este valor para que se adapte a tu imagen */
    margin-right: 10px;
  }

  header .logo{
    display: flex;
  align-items: center;
  }
  
  header a {
    color: rgba(128, 128, 128, 0.9);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 20px;
    transition: all 0.2s ease-in-out;
  }
  
  header a:hover {
    color: #333;
    padding: 10px;
    transform: scale(1.2);
    border-radius: 10px;
    /* Resto del código */
  }

  header a:hover.inicio {
    background-color: #bfa5ca;
  }
  
  header a:hover.psi {
    background-color: #FFF9BF;
  }
  
  header a:hover.cit {
    background-color: #FBC9B0;
  }
  header a:hover.button-link {
    color: #fff;
  }
  
  header .button-link {
    color: #fff;
    background-color: #4f818e;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-left: 20px;
  }
  
  header .button-link:hover {
    background-color: #1e5d70;
  }
.logo h1 {
    margin: 0;
    color: #1e5d70;
}

.slogan h2 {
    margin: 0;
}

.btn-login {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #3e8e41;
}


/* FOOTER */

footer {
    width: 94%;
    background-color: #4f818e;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -100px; /* 100px es la altura del footer */
    height: 100px;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }
  
  .center-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  .first{
    margin-left: 20px;
  }
  .right-col {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    margin-right: 30px;
  }
  
  .col:last-child {
    margin-right: 0;
  }
  
  .col h3 {
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-right: 50px;
  }
  
  .col ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .col ul li {
    margin-bottom: 5px;
  }




  /* INFORMACION DEL  DASHBOARD*/

  .content {
    min-height: calc(100vh - 100px); /* 100px es la altura del footer */
    display: flex;
flex-direction: row;
  }

   /* INFORMACION DE LA PSICOLOGA*/

   .psicologa {
    display: flex;
  width: 100%;
    width: 30%; /* Cambiar el tamaño de la sección a un ancho del 30% del contenedor */
  float: left; /* Mover la sección a la izquierda */
  margin-right: 5%;
    background-color: white;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 2px 2px 5px #ccc;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 40px;
    position: relative;
  }
  
  .left2 {
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left2 img {
    position: absolute;
    top: 0;
  left: 0;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }

  .psicologa .right2 img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .right2 {
    flex: 1;
    text-align: left;
    padding-left: 20px;
  }
  
  .nombre {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #4f818e;
    display: block;
    margin-bottom: 10px;
  }
  
  
  .cedula,
  .email,
  .frase {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .psicologa input {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    margin-left: 15px;
}

  .guardar {
    padding: 10px 20px;
    background-color: #4f818e;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px;
   
  }
  .guardar:hover {
    background-color: #1e5d70;
    color: white;
    border-color: #1e5d70;
  }

  .espacio2{
    margin-top: 20px;
  }


  .experiencia {
    width: 30%;
    clear: both;
    display: block;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 150px;


    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 5px #ccc;
    text-align: center;
    border-radius: 10px;
  }

  .linea-gris {
    border: none;
    border-top: 1px solid #ccc;
    width: 100%;
    margin: 0 auto;
  }

  h3 {
    color: #4f818e;;
    margin-left: 20px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  ul {
    
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    
    margin-left: 20px;
    text-align: left;
    margin-bottom: 10px;
  }
  
  ul li:before {
    content: "\2022";
    margin-right: 10px;
  }


  .titulo-comentarios {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 30px;
    color: #4f818e;
    margin-left: -165px;
  }

  .titulo-comentarios2 {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 25px;
    color: #4f818e;
    margin-left: -215px;
  }

  .comentarios-container {
    margin-left: 1000px;
  }


  .textoCombo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
   margin-left: -440px;
   height: 250px;
   
}

.textoCombo textarea {
    margin: 10px;
    padding: 10px;
    width: 90%;
    text-align: justify;
    border-radius: 5px;
    color: #333;
    font-size: 1.2rem;
    border: none;
    resize: none;
    outline: none;
    border: 1px solid #4f818e;
    padding: 10px;
    box-shadow: 2px 2px 5px #ccc;
    background-color: white;
}

.textoCombo input[type="button"] {
    margin: 10px;
    padding: 10px;
    width: 40%;
    border-radius: 5px;
    background-color: #b2de93;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.textoCombo input[type="button"]:hover {
  background-color: #8cbf6b;
  padding: 10px;
    transform: scale(1.1);
    border-radius: 10px;
}

.recuadro-blanco {
  background-color: white;
  border: 2px solid black;
  padding: 10px;
}

.recuadro-blanco p {
  color: black;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.recuadro-comentarios {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 640px;
  margin-left: -440px;
  height: 150px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  position: relative;
}



.izq {
  width: 100%;
  height: auto;
  padding-right: 20px;
  }
  
  .der {
  padding-left: 20px;
  margin-left: -1370px;
  margin-bottom: 130px;
  }

.imagen-comentarios{
  width: 100px;
  height: 100px;
  margin-top: 20px;
  float: left;
}
.cerrar-recuadro {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  font-size: 40px;
  color: #4f818e;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.contenedor-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  margin-left: 20px; /* Ajusta el margen izquierdo según tus necesidades */
  width: 100%;
  font-size: 20px;
}
.fecha-comentario {
  font-size: 12px;
  color: #888;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.fecha-comentario i {
  margin-right: 5px;
}