.container div div a i{
    font-size: 30px;
}

h1, h2{
    font-family: 'Montserrat', sans-serif;
}

h4, h5{
    font-family: 'Quando', serif;
}

@media print { 
    /* All your print styles go here */
    nav,.navbar, footer,#printer { display: none !important; } 
    .beige{background: #fff9f0 !important;}
    .azul{background: #154854 !important;}
}